.header-container {
  display: flex;
  align-items: center;
  height: 80px;
  border-right: 1px solid black;
  padding-right: 20px;
}

.logo-container {
  margin-right: 20px;
}
.logo img {
  height: 100px;
  width: 100px;
}


nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 300px;
  position: absolute;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  position: relative;
}

nav li:not(:last-child) {
  margin-bottom: 35px;
}

nav li a {
  color: black;
  font-family: "Trebuchet MS", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

nav::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10px;
  width: 1px;
  background-color: black;
}

.my-photo {
  float: left;
  margin-right: 20px;
  width: auto;
  height: 200px;
  margin-left: 120px;
}

.text-container {
  margin-top: 0px;
  overflow: hidden;
  font-family: "Trebuchet MS", sans-serif;
  .my-photo {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: auto;
    font-family: "Trebuchet MS", sans-serif;
  }

}
