

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  z-index: 1;
}
.Bio {
    text-align: left;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 380px;
    padding-left: 20px;
    font-family: Verdana, sans-serif;
    shape-outside: square(50%);

}
.logo img {
  height: 50px;
  width: auto;
}
.Map img{
    height: 360px;
    width: auto;
    float: left;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


.logo-container {
  margin-left: 100px;
}

.content-container {
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 50px;
    height: 100vh;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding-left: 20px;
    pading-right: 20px;
    padding-top: 20px;

}

nav {
    margin-right: 100px;
    font-size: 8px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;

}

li {
  margin: 0 10px;

}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

a:hover {
  color: #555;
}
